.carousel-control-prev-icon,
.carousel-control-next-icon {
    background-color: #333;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 1.2rem;
  border-radius: 25px;
  transition: background-color 0.3s ease;
  position: absolute;
  top: 50%;
  z-index: 1;
  transform: translateY(-50%);
}
.carousel-control-next-icon{
  right: 10px;
}
.carousel-control-prev-icon{
  left: 10px;
}
.carousel-control-prev-icon:hover,
.carousel-control-next-icon:hover {
    background-color: #ffc107;
    cursor: pointer;
}
.card {
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    flex-wrap: nowrap;
    padding:  10px;
  }
  
  .card:hover {
    transform: translateY(-5px);
    overflow: hidden;
  }
  .card-title {
    background-color: rgb(233, 112, 112);
    font-family: cursive;
  }

  