
.pricing-container {
    text-align: center;
    padding: 50px 20px;
    background-color: #f9f9f9;
  }
  
  .pricing-header {
    font-size: 2.5rem;
    font-weight: 700;
    color: #333;
    margin-bottom: 20px;
  }
  
  .pricing-subheader {
    font-size: 1.2rem;
    color: #777;
    margin-bottom: 40px;
  }
  
  .pricing-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    justify-content: center;
  }
  
  .pricing-card {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 30px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
  
  .pricing-title {
    font-size: 1.8rem;
    margin-bottom: 20px;
    color: #333;
  }
  
  .pricing-price {
    font-size: 2rem;
    font-weight: bold;
    color: #333;
  }
  
  .pricing-features {
    list-style-type: none;
    padding-left: 0;
    margin-bottom: 20px;
  }
  
  .pricing-button {
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .pricing-button:hover {
    background-color: #555;
  }
  h1{
    text-align: center;
    font-size: 2.5rem;
    font-weight: 700;
    color: #00abc2;
    margin-bottom: 20px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);

  }